<div class="slide-containers">
    <div *ngIf="getCurrentSlide() === 0" class="slide-0">
        <h1> SatteFi&trade; </h1>
        <div class="container">
            <h4>
                You’re just moments away from crystal-clear phone calls and all-you-can-type messaging! Let’s get your antenna set up.
            </h4>
            <div class="bottom-container">
                <button class="btn purple" type="button" (click)="nextSlide()"><span>Start</span></button>
            </div>
        </div>
    </div>

    <div *ngIf="getCurrentSlide() === 1" class="slide-1">
        <h1 class="second-slide-h1"> Finding Your Satellite</h1>
        <h4> We have lots of satellites. We're looking for a good match</h4>

        <app-satellite class="left-satellite"></app-satellite>
        <app-loading-spinner></app-loading-spinner>
        <app-satellite class="right-satellite"></app-satellite>
        <div class="container">
            <div class="earth"> </div>
        </div>
        <app-satellite class="bottom-left-satellite"></app-satellite>
        <app-satellite class="bottom-right-satellite"></app-satellite>
    </div>

    <div *ngIf="getCurrentSlide() === 2" class="slide-2">
        <h1 class="second-slide-h1"> Finding Your Satellite</h1>
        <h4>
            We've found the best satellite for you at your current location. Say 'hello' to your new best friend, SATTEFI-US-117
        </h4>

        <app-satellite class="right-satellite"></app-satellite>
        <div class="container">
            <div class="earth">
            </div>
        </div>

        <div class="bottom-container">
            <button class="btn purple" type="button" (click)="nextSlide()"><span>Next</span></button>
        </div>
    </div>

    <div *ngIf="getCurrentSlide() === 3" class="slide-3">
        <h1>  Pointing in the right direction </h1>
        <h4>
            Stand with your phone in your hand, arm extended, screen facing up, and rotate on your
            feet until the two clock hands on the next scree are at midnight.
        </h4>
        <div class="container">
            <div class="compass">
            </div>
        </div>
        <div class="bottom-container">
            <button class="btn purple" type="button" (click)="nextSlide()"><span>Next</span></button>
        </div>
    </div>


    <div *ngIf="getCurrentSlide() === 4" class="slide-4">
        <h1> Pointing in the right direction </h1>
        <h4> The <b> minute hand </b> is where you’re pointing </h4>

        <p id="heading"></p>
        <h4 id="perfect">perfect</h4>
        <div class="container">
            <div id="outer-ring"> </div>
            <div id="inner-ring"> </div>
            <div class="big-hand"></div>
            <div id="little-hand"> </div>
            <h3> The <b> hour hand </b> is SATTEFI-US-117 </h3>

            <div class="bottom-container">
                <button class="btn purple" type="button" (click)="nextSlide()" disabled><span>Next</span></button>
            </div>
        </div>
    </div>
</div>
