/* You can add global styles to this file, and also import other style files */
#map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
#compassHousing {
    margin-left: 5px;
    margin-top: 5px;
    background-color: #CCC;
    border-style: solid;
    border-width: 1px;
    border-radius: 62.5px;
    padding: 2px;
    position: absolute;
    z-index: 2;
    opacity: 0.77;
    -moz-box-shadow: 2px 3px 10px 2px #333;
    -webkit-box-shadow: 2px 3px 10px 2px #333;
    box-shadow: 2px 3px 10px 2px #333;
}
#compassFace {
    z-index: -1;
    position: absolute;
}
#compassNeedle {
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

@-webkit-keyframes pulse {
    0% {
        opacity: 1.0;
    }
    45% {
        opacity: 0.20;
    }
    100% {
        opacity: 1.0;
    }
}
@-moz-keyframes pulse {
    0% {
        opacity: 1.0;
    }
    45% {
        opacity: 0.20;
    }
    100% {
        opacity: 1.0;
    }
}
#map_graphics_layer {
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: pulse;
}
/* compass */
@media(orientation: landscape) {
    #compass {
        margin-top: 20px;
        margin-left: 20px;
        opacity: 0.85;
        filter: alpha(opacity=85);
        position: absolute;
        z-index: 2;
    }
}
@media(orientation: portrait) {
    #compass {
        margin-top: 20px;
        margin-left: 20px;
        opacity: 0.85;
        filter: alpha(opacity=85);
        position: absolute;
        z-index: 2;
    }
}